@import './common/vars.scss';
@import './common/extends.scss';

@import './components/base.scss';
@import './components/bottoms.scss';

@import './components/header.scss';
@import './components/purpose.scss';