@import './common/vars.scss';
@import './common/extends.scss';

@import './components/base.scss';
@import './components/bottoms.scss';
@import './components/input.scss';

@import './components/header.scss';
@import './components/purpose.scss';
@import './components/fruits.scss';
@import './components/hero.scss';
@import './components/statistics.scss';
@import './components/subscribe.scss';
@import './components/berries.scss';
@import './components/footer.scss';